$color-cyan: hsl(180, 62%, 55%);
$color-red: hsl(0, 78%, 62%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);

$color-grey: hsl(234, 12%, 34%);
$color-lightgrey: hsl(212, 6%, 44%);

$font-size-body: 15px;