@use "variables";

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v24-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

.main {
  width: 85%;
  margin: auto;
  font-family: Poppins, Arial;
  color: variables.$color-lightgrey;
  margin-block-start: 36px;
  margin-block-end: 36px;
}

.heading {
  font-weight: 200;
  font-size: 1.3rem;
  text-align: center;
  color: variables.$color-grey;
}

.heading__second {
  font-weight: 600;
  display: block;
}

.paragraph {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 400;
  margin-block-end: 48px;
}

.container, .container__divider {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  max-width: 394px;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 2px 12px hsla(213, 39%, 74%, 0.5);
  padding: 6px 24px 12px 24px;
  transition: box-shadow(0.5s ease);

  &:hover{
    box-shadow: 0px 2px 12px hsla(213, 39%, 74%, 0.7);
  }
}


.card--cyan {
  border-top: solid 4px variables.$color-cyan;
}

.card--red {
  border-top: solid 4px variables.$color-red;
}

.card--orange {
  border-top: solid 4px variables.$color-orange;
}

.card--blue {
  border-top: solid 4px variables.$color-blue;
}

.card__title {
  font-size: 1.1rem;
  font-weight: 600;
  color: variables.$color-grey;
  margin-block-end: 4px;
}

.card__text {
  font-size: 0.7rem;
  font-weight: 400;
  margin-block-start: 0px;
}

.card__icon {
  align-self: flex-end;
  width: 52px;
  margin: 20px 0px;
}

@media (min-width: 768px) {
  .main {
    margin-block-start: 60px;
  }

  .heading {
    font-size: 1.8rem;
    margin-block-end: 16px;
  }

  .paragraph{
    width: 38%;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    flex-direction: row;
    column-gap: 36px;
    max-width: none;
    align-items: center;
    max-width: 980px;
    justify-content: center;

    & > * {
      width: 30%;
    }
  }

  .container__divider {
    max-width: none;
    margin: 0;
    align-items: center;
  }

  .card {
    max-width: 300px;
    height: 200px;
    box-sizing: border-box;
  }
}